$ngx-primary: mat-palette($mat-indigo, 800, 300, 900);
$ngx-accent: mat-palette($mat-light-blue);
$ngx-warn: mat-palette($mat-pink, 600);

$ngx-theme: mat-light-theme($ngx-primary, $ngx-accent, $ngx-warn);
