<section id="services" class="services section-bg">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title" data-aos="fade-left" data-aos-delay="200">
          <h2>
            PROYECTOS RECIENTEMENTE REALIZADO</h2>
        </div>
      </div>

    </div>
  </div>
</section>

<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/moddocente_15_10_2019/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/docente.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Docente</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/modbiblioteca/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/biblioteca.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Biblioteca</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/mod_mesa_ayuda/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/mesa.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Mesa de Ayuda</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/modestudiante/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/estudiante.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Estudiante</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/modinvestigacion/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/investigacion.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Investigación</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/modaulavirtual/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/aula_virtual.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo Aula Virtual</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="slide">
      <div class="card card-profile">
        <div class="card-header card-header-image">
          <a href="https://sigeun.unam.edu.pe/modulos/moddasa/">
            <img class="img" src="https://sigeun.unam.edu.pe/img/dasa.png">
          </a>
          <div class="colored-shadow">
          </div>
        </div>
        <div class="card-body ">
          <h4>Módulo DASA</h4>
          <p class="card-category text-gray">Universidad Nacional de Moquegua</p>
        </div>
      </div>

    </div>
  </ng-template>
</owl-carousel-o>
