.social_icons {
  a {
    color: rgba(#fff, 0.8);
    font-size: 25px;
    display: inline-block;
    margin-right: 16px;
    cursor: pointer;
    transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    &:hover {
      color: #ffbb38;
      text-decoration: none;
    }
  }
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #ffbb38;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}
/*           Labels & Progress-bar              */
.label {
  padding: 0.2em 0.6em;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 500;
  font-size: 0.75em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 3px;
  line-height: 17px;
}
.label-primary {
  background-color: #ffbb38;
}

// .label-info {
//   background-color: $info-color;
// }
// .label-success {
//   background-color: $success-color;
// }
// .label-warning {
//   background-color: $warning-color;
// }
// .label-danger {
//   background-color: $danger-color;
// }
// .label-default {
//   background-color: $default-color;
// }
