<section id="tmWelcome" class="parallax-window" data-parallax="scroll" data-image-src="./assets/mini-profile-bg-01.jpg">
  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
        <!-- Logo Area -->
        <!-- Black transparent bg -->
        <div class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner">
          <div class="tm-brand-container text-center">
            <p class="tm-brand-description mb-0">Hola</p>
            <h1 class="tm-brand-name" data-aos="fade-in" data-aos-delay="200">
              Soy Félix Franco
            </h1>
            <p class="tm-brand-description mb-0">Front-End Development</p>
            <div class="social_icons my-3">
              <a href="https://github.com/devalfe">
                <fa-icon [icon]="['fab', 'github']"></fa-icon>
              </a>
              <a href="https://github.com/devalfe">
                <fa-icon [icon]="['fab', 'youtube']"></fa-icon>
              </a>

            </div>
            <p class="badge badge-pill badge-dark">
              v.
              {{version}}</p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="tm-bg-white-transparent tm-welcome-container">
    <div class="container-fluid">
      <div class="row h-100">
        <!-- Welcome Text -->
        <!-- White transparent bg -->
        <div class="col-md-7 tm-welcome-left-col">
          <div class="section-title" data-aos="fade-left" data-aos-delay="200">
            <h2>SOBRE MI</h2>
            <p class="pb-0">
              Soy Ingeniero de Sistemas me encanta la programación poder
              descubrir y aprender nuevas cosas, tengo conocimiento en el
              framework Angular, HTML, CSS (Sass,scss), JavaScript, TypeScript, UX &
              UI y conocimientos intermedios por el lado del Back-End: Laravel,
              PHP, NodeJs y Bases de Datos MySQL, MariaDB, MongDB, Microsoft SQL
              Server. Actualmente estoy aprendiendo nuevas tecnologías com NgRx y React y un poco de VueJS.
            </p>
          </div>
        </div>
        <!-- Brown bg -->
        <div class="col-md-5">
          <div class="tm-welcome-right section-title">
            <h2 class="mb-0 text-white" data-aos="fade-right" data-aos-delay="100">
              Que habilidad tengo
            </h2>
            <div class="mt-4" data-aos="fade-left" data-aos-delay="100">
              <span class="label label-primary">Angular</span>
              <span class="label  label-primary ml-2">Html</span>
              <span class="label  label-primary ml-2">Css (scss,sass)</span>
              <span class="label  label-primary ml-2">Javascript</span>
              <span class="label  label-primary ml-2">Typescript</span>
              <span class="label  label-primary ml-2">Bootstrap</span>
              <span class="label  label-primary ml-2">Material-ui</span>
              <span class="label  label-primary ml-2">Nebular</span>
              <span class="label  label-primary ml-2">primeng</span>
              <span class="label  label-primary ml-2">PHP</span>
              <span class="label  label-primary ml-2">Laravel</span>
              <span class="label  label-primary ml-2">NodeJs</span>
              <span class="label  label-primary ml-2">React</span>
              <span class="label  label-primary ml-2">Vue</span>
              <span class="label  label-primary ml-2">MySQL</span>
              <span class="label  label-primary ml-2">MariaDB</span>
              <span class="label  label-primary ml-2">MongDB</span>
              <span class="label  label-primary ml-2">Microsoft SQL Server</span>
              <span class="label  label-primary ml-2">Git</span><span class="label  label-primary ml-2">Github</span>
              <span class="label  label-primary ml-2">Adobe Illustrator</span>
              <span class="label  label-primary ml-2">Figma</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-servicios></ngx-servicios>
<ngx-portafolio></ngx-portafolio>
<ngx-contact></ngx-contact>
