<section
  id="tmWelcome"
  class="parallax-window"
  data-parallax="scroll"
  data-image-src="./assets/mini-profile-bg-01.jpg"
>
  <div class="container-fluid tm-brand-container-outer">
    <div class="row">
      <div class="col-12">
        <!-- Logo Area -->
        <!-- Black transparent bg -->
        <div
          class="ml-auto mr-0 tm-bg-black-transparent text-white tm-brand-container-inner"
        >
          <div class="tm-brand-container text-center">
            <p class="tm-brand-description mb-0">Hola</p>
            <h1 class="tm-brand-name" data-aos="fade-in" data-aos-delay="200">
              Soy Félix Franco
            </h1>
            <p class="tm-brand-description mb-0">Front-End Development</p>
            <div class="social_icons my-3">
              <a href="#"><fa-icon [icon]="['fab', 'github']"></fa-icon></a>
              <a href="#"><fa-icon [icon]="['fab', 'youtube']"></fa-icon></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tm-bg-white-transparent tm-welcome-container">
    <div class="container-fluid">
      <div class="row h-100">
        <!-- Welcome Text -->
        <!-- White transparent bg -->
        <div class="col-md-7 tm-welcome-left-col">
          <div class="section-title" data-aos="fade-left" data-aos-delay="200">
            <h2>SOBRE MI</h2>
            <p class="pb-0">
              Soy Ingeniero de Sistemas me encanta la programación poder
              descubrir y aprender nuevas cosas, tengo conocimiento en el
              framework Angular, HTML, CSS (Sass), JavaScript, TypeScript, UX &
              UI y conocimientos intermedios por el lado del Back-End: Laravel,
              PHP, NodeJs y Bases de Datos MySQL, MariaDB, MongDB, Microsoft SQL
              Serve. Actualmente estoy aprendiendo nuevas tecnologías com NgRx y
              React y un poco de VueJS.
            </p>
          </div>
        </div>
        <!-- Brown bg -->
        <div class="col-md-5">
          <div class="tm-welcome-right">
            <i class="fas fa-4x fa-address-card p-3 tm-welcome-icon"></i>
            <p class="mb-0" data-aos="fade-right" data-aos-delay="100">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Blanditiis distinctio magnam natus. Blanditiis velit sapiente ad,
              nemo facilis similique nesciunt nulla tempore consectetur ab
              maxime sunt reiciendis minus beatae et.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ngx-servicios></ngx-servicios>
