<!--================Contact Area =================-->
<section id="services" class="contact_area section_gap">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-title" data-aos="fade-left" data-aos-delay="200">
          <h2>contáctame</h2>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="contact_info">
          <div class="info_item">
            <i class="lnr lnr-home"></i>
            <h6>Moquegua, Perú</h6>
            <p>Calle Bolivar # 13</p>
          </div>
          <div class="info_item">
            <i class="lnr lnr-phone-handset"></i>
            <h6><a href="#">(+51) 999 867 170</a></h6>
            <p>De Lunes a Viernes desde las 9am a 6pm</p>
          </div>
          <div class="info_item">
            <i class="lnr lnr-envelope"></i>
            <h6><a href="#">xilef_v7@outlook.com</a></h6>
            <p>¡Envíanos tu consulta en cualquier momento!</p>
          </div>
        </div>
      </div>
      <div class="col-lg-9">
        <form class="row contact_form" novalidate="novalidate">
          <div class="col-md-6">
            <div class="form-group">
              <input type="text" class="form-control" id="name" name="name" placeholder="Enter your name">
            </div>
            <div class="form-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter email address">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="subject" name="subject" placeholder="Enter Subject">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <textarea class="form-control" name="message" id="message" rows="1"
                placeholder="Enter Message"></textarea>
            </div>
          </div>
          <div class="col-md-12 text-right">
            <button type="submit" value="submit" class="btn credit-btn mt-30">Send</button>
          </div>
        </form>
      </div>
    </div>

  </div>
</section>
<!--================Contact Area =================-->
